html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Expletus Sans', sans-serif;
  height: calc(100vh - 60px);
}

.App {
  text-align: center;
  width: 100vw;
}

/* ========= Map ==========*/
#map {
  height: calc(100vh - 60px);
  width: 100%;
}

.content {
  text-align: center;

}

/* ========= header: Navigation Bar ========== */
.navbar {
  position: relative;
  color: white;
  height: 60px;
  z-index: 100;
}

#navbar {
  box-shadow: 2px 0px 5px rgb(23, 23, 23);
}

nav {
  display: flex;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  z-index: 100;
  padding: 0 1rem;
}

#title a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
  color: #99ccff;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0 20px;
  word-spacing: 1.5px;
  display: inline-block;
}

/* ========= Side Bar ==========*/
.side-bar {
  background: #336699; /*#111;*/
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  max-width: 300px;
  z-index: 200;
  overFlow-y: scroll;
 }

/* ========= Side Bar List ==========*/
#side-nav {
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  margin-top: 20px;
  height: 65vh;
 }

#side-nav a {
  padding: 8px 8px 8px 32px;
  font-size: 18px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#side-nav li  {
  text-align: left;
  margin-left: -30px;
}

#side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

#side-nav a:hover,
#side-nav a:active,
#side-nav a:focus {
  color: #333;
  outline: none;
}

#nav-list ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 65vh;
}

/* ========= Hamburger Menu ==========*/
.ham-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 36px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.single-line {
  width: 38px;
  height: 2px;
  background: white;
}

.ham-button:hover .single-line,
.ham-button:active .single-line,
.ham-button:focus .single-line {
 background: #336699;
}

/* ========= Search Input Field ==========*/
.input[type="text"] {
  height: 34px;
  width: 50%;
  padding: 6px;
  margin-top: 8px;
  font-weight: bold;
  box-shadow: inset 0.5px 0 2px #000;
  border: 2px solid black;
}

.search {
  font-family: sans-serif, serif;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: auto;
  font-size: 18px;
}

.input input:focus {
  border: 4px solid #ffbe00;
}

/* ========= Media Query ==========*/
@media screen and (max-width: 450px) {
  #side-nav .close-btn {
    padding-top: 25px;
    right: 10px;
  }

  #side-nav {
    padding-top: 15px;
  }

  .side-bar {
    max-width: 200px;
  }
}
